<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yoavst.quickapps">

    <permission
        android:name="android.permission.FLASHLIGHT"
        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
        android:protectionLevel="normal"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>

    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true">
        <!-- Torch part [START] -->
        <activity
            android:name=".torch.PhoneActivity_"
            android:label="@string/torch_module_name"
            android:screenOrientation="portrait"
            android:icon="@drawable/torch_launcher"
            android:theme="@style/darkTheme"
            android:taskAffinity="com.yoavst.quickapps.torch"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".torch.QuickActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:theme="@style/darkTheme"
            android:icon="@drawable/torch_icon"
            android:label="@string/torch_module_name"
            android:taskAffinity="com.yoavst.quickapps.torch"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.lge.quickcover"/>
            </intent-filter>
        </activity>
        <receiver
            android:name=".torch.WidgetProvider"
            android:taskAffinity="com.yoavst.quickapps.torch"
            android:icon="@drawable/torch_launcher"
            android:label="@string/torch_module_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/torch_widget_provider"/>
        </receiver>
        <receiver
            android:name=".torch.TorchReceiver"
            android:taskAffinity="com.yoavst.quickapps.torch">
            <intent-filter>
                <action android:name="com.yoavst.toggletorch">
                </action>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".torch.NotificationReceiver"
            android:taskAffinity="com.yoavst.quickapps.torch">
            <intent-filter>
                <action android:name="com.yoavst.notificationtorch">
                </action>
            </intent-filter>
        </receiver>
        <service android:name="com.lge.app.floating.FloatingWindowService" >
        </service>

        <activity-alias
            android:name=".torch.PhoneActivity"
            android:enabled="true"
            android:icon="@drawable/torch_icon"
            android:label="@string/torch_module_name"
            android:targetActivity=".torch.PhoneActivity_">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.lge.intent.category.QSLIDE" />
            </intent-filter>
            <meta-data android:value="false" android:name="cleartask"/>
            <meta-data android:value="2.5" android:name="min version"/>
        </activity-alias>
        <!-- Torch part [END]   -->
        <!-- Music part [START] -->
        <activity
            android:name=".music.RemoteControlActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:taskAffinity="com.yoavst.quickapps.music"
            android:icon="@drawable/music_icon"
            android:theme="@style/darkTheme"
            android:label="@string/music_module_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.lge.quickcover"/>
            </intent-filter>
        </activity>
        <service
            android:name=".music.RemoteControlService"
            android:label="@string/music_module_name"
            android:icon="@drawable/music_launcher"
            android:taskAffinity="com.yoavst.quickapps.music"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
                <action android:name="com.yoavst.quickmusic.BIND_RC_CONTROL_SERVICE"/>
            </intent-filter>
        </service>
        <uses-library android:name="com.lge.app.floating" android:required="true"/>
        <!-- Music part [END]   -->
        <!-- Calendar part [START] -->
        <activity
            android:name=".calendar.QuickActivity_"
            android:label="@string/calendar_module_name"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:icon="@drawable/calendar_icon"
            android:theme="@style/lightTheme"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity="com.yoavst.quickapps.calendar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.lge.quickcover"/>
            </intent-filter>
        </activity>
        <!-- Calendar part [END]   -->
        <!-- Notifications part [START] -->
        <activity
            android:name=".notifications.CircleActivity_"
            android:label="@string/notification_module_name"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:icon="@drawable/notifications_icon"
            android:theme="@style/darkTheme"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity="com.yoavst.quickapps.notifications"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.lge.quickcover"/>
            </intent-filter>
        </activity>
        <service
            android:name=".notifications.NotificationService"
            android:label="@string/notification_module_name"
            android:icon="@drawable/notifications_launcher"
            android:taskAffinity="com.yoavst.quickapps.notifications"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>
        <!-- Notifications part [END]   -->
        <!-- Launcher part [START] -->
        <activity
            android:name=".launcher.LauncherActivity_"
            android:label="@string/launcher_module_name"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:icon="@drawable/launcher_icon"
            android:theme="@style/darkTheme"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity="com.yoavst.quickapps.launcher"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.lge.quickcover"/>
            </intent-filter>
        </activity>
        <!-- Launcher part [END]   -->
        <!-- Toggles part [START] -->
        <activity
            android:name=".toggles.TogglesActivity_"
            android:label="@string/toggles_module_name"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:icon="@drawable/toggles_icon"
            android:theme="@style/lightTheme"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity="com.yoavst.quickapps.toggles"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.lge.quickcover"/>
            </intent-filter>
        </activity>
        <!-- Toggles part [END]   -->
        <!--<activity-->
        <!--android:name=".MainActivity_"-->
        <!--android:label="@string/app_name">-->
        <!--<intent-filter>-->
        <!--<category android:name="android.intent.category.LAUNCHER"/>-->
        <!--<action android:name="android.intent.action.MAIN"/>-->
        <!--<category android:name="android.intent.category.DEFAULT"/>-->
        <!--</intent-filter>-->
        <!--</activity>-->
    </application>
</manifest>
